*.suo
*.user
[Dd]ebug/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
.vs/
_NCrunch_*
.*crunch*.local.xml
*.ncrunchsolution
nCrunchTemp_*
*.nupkg
*.nuget.props
*.nuget.targets
node_modules/
.idea/
launch.json
tasks.json
